{% comment %}
Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

{{literal}}
<script type="text/javascript">
$(function() {
    $('.left-col').hover(function() {
      $('.mid-col').css('opacity', '0.3');
      $('.mid-col').css('right', "auto");
      $('.mid-col').animate({
        margin-left: 70%
      })
      $('#authorinfo').css('opacity', '1');
    }, function() {
      $('.mid-col').css('opacity', '1');
      $('.mid-col').css('right', '0');
      $('.mid-col').css('margin-left', '0');
      $('#authorinfo').css('opacity', '0');
    });
});
</script>
{{/literal}}
