@mixin awesome-animation($property:all, $time:4s, $delay: 0s) {
  -webkit-transition: $property $time cubic-bezier(1.000, 0, 0.45, 1.625) $delay;
  -moz-transition: $property $time cubic-bezier(1.000, 0, 0.45, 1.625) $delay;
  -o-transition: $property $time cubic-bezier(1.000, 0, 0.45, 1.625) $delay;
  transition: $property $time cubic-bezier(1.000, 0, 0.45, 1.625) $delay;
}

// and animate .left-col sliding
.container .left-col {
  z-index: 30;
  @include awesome-animation(width, 0.5s);
}

// do and animate appearance of #authorinfo
.container .left-col #authorinfo {
  height: 0;
  opacity: 0;
  display: none;
  overflow: hidden;
  @include awesome-animation(opacity, 0.3s, 0.5s);
}
@media screen and (min-width: 761px) {
  .container .left-col:hover #authorinfo {
    height: auto;
    display: block;
  }
}
