@mixin animation($property:all, $time:0.5s, $anim: ease, $delay: 0s) {
  transition: $property $time $anim $delay;
  -o-transition: $property $time $anim $delay;
  -moz-transition: $property $time $anim $delay;
  -webkit-transition: $property $time $anim $delay;
}

// and animate .left-col sliding
.container {
  .left-col {
    @include animation();
    #header .profilepic {
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @include animation(border);
    }
  }
  .left-col + .mid-col {
    @include animation();
  }
}

// do and animate appearance of #authorinfo
.container .left-col #authorinfo {
  opacity: 0;
  @include animation(opacity, 0.2s);
}
.container .left-col:hover #authorinfo {
  @media screen and (min-width: 761px) {
    opacity: 1;
  }
}
